* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: salmon;
    position: relative;
}

.container {
    height: 100%;
    position: absolute;
    left: 33%;
    top: 50px;
}

.div_verbe {
    position: relative;
    top: 10rem;
}

label,
#verbe,
.btn {
    font-size: 2rem;
}

.btn {
    border-radius: 17px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: black;
    color: salmon;
}

::placeholder {
    opacity: 0.5;
    color: salmon;
}

input {
    background-color: rgb(31, 30, 30);
    border: none;
    color: salmon;
}

input:focus {
    border: none;
}